.TutorialDriver {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    color: var(--White);
    width: 100%;
    padding: 0 200px;
    height: 700px;
}


.TutorialDriver .steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--White);
    width: 50%;
    text-align: left;
}
.TutorialDriver .steps h1 {
    color: var(--White);
    font-weight: 400;
    text-align: left;
}

.TutorialDriver .steps .stepsUnic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 10px;
}

.TutorialDriver .steps .stepsUnic .number {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--White);
}

.TutorialDriver .steps .stepsUnic .number h3 {
    color: var(--White);
    position: relative;
}

.TutorialDriver .steps .stepsUnic .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0;
    margin-left: 20px;
}


.TutorialDriver .steps .stepsUnic .text h3 {
    color: var(--White);
}
.TutorialDriver .steps .stepsUnic .text h5 {
    display: none;
}

.TutorialDriver .steps .stepsUnicSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 10px;
}

.TutorialDriver .steps .stepsUnicSelect .number {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--Red);
    border: 1px solid var(--Red);
}

.TutorialDriver .steps .stepsUnicSelect .number h3 {
    color: var(--White);
    position: relative;
}


.TutorialDriver .steps .stepsUnicSelect .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5px 0;
    margin-left: 20px;
    border-bottom: 3px solid var(--Red);
}

.TutorialDriver .steps .stepsUnicSelect .text h3 {
    color: var(--White);
    font-weight: bold;
}

.TutorialDriver .steps .stepsUnicSelect .text h5 {
    color: var(--White);
    font-weight: 400;
    margin-top: 5px;
}

.TutorialDriver .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 700px;
}

.TutorialDriver .image img {
    height: 100%;
}

@media (max-width: 1200px) {
    .TutorialDriver {
        padding: 0 100px;
    }

    @media (max-width: 1200px) {
        .TutorialDriver {
            padding: 0 50px;
        }

        @media (max-width: 750px) {
            .TutorialDriver {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                color: var(--White);
                width: 100%;
                padding: 0 50px;
                height: 100%;
            }

            
            .TutorialDriver .steps {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: var(--White);
                width: 100%;
                text-align: left;
                height: 700px;
            }

            .TutorialDriver .image {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                height: 400px;
            }

            .TutorialDriver .image img {
                height: 100%;
            }



            @media (max-width: 450px) {

                .TutorialDriver .steps h1 {
                    font-size: 26px;
                }
                

                .TutorialDriver .steps {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: var(--White);
                    width: 100%;
                    text-align: left;
                    height: 600px;
                }

                .TutorialDriver .steps .stepsUnicSelect .number {
                    width: 40px;
                    height: 40px;
                }
                .TutorialDriver .steps .stepsUnicSelect .number h3{
                    font-size: 16px;
                }

                .TutorialDriver .steps .stepsUnicSelect .text {
                    padding: 5px 0;
                    margin-left: 10px;
                }
                .TutorialDriver .steps .stepsUnicSelect .text h3 {
                    font-size: 16px;
                }
                .TutorialDriver .steps .stepsUnic .number {
                    width: 40px;
                    height: 40px;
                }
                .TutorialDriver .steps .stepsUnic .number h3{
                    font-size: 16px;
                }

                .TutorialDriver .steps .stepsUnic .text {
                    padding: 5px 0;
                    margin-left: 10px;
                }
                .TutorialDriver .steps .stepsUnic .text h3 {
                    font-size: 16px;
                }
            }
            
        }
    }
}


