.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    border: none;
    border-top: 1px solid var(--Gray);
    background-color: var(--Red);
}

.Footer .blocks {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex-direction: row;
    width: 90%;
    padding: 40px 20px 20px 20px;
    flex-wrap: wrap;
}

.Footer .blocks .block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 220px;
    height: 220px;
    text-align: left;
}

.Footer .blocks .block img {
    width: 150px;
}

.Footer .blocks .block p {
    margin-bottom: 10px;
}
.Footer .blocks .block h5 {
    font-weight:400;
    margin-bottom: 5px;
}
.Footer .blocks .block .icons {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex-direction: row;
    width: 100%;
}
.Footer .blocks .block .icons .icon {
    display: flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: column;
    width: 50%;
}

.Footer .blocks .block .icons .icon .logos {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}

.Footer .copy {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    width: 90%;
    border: none;
    border-top: 1px solid var(--White);
    padding: 40px;
}

.Footer .copy h5 a {
    color: var(--White);
    text-decoration: none;
}

@media (max-width: 1280px) {
    .Footer .blocks {
        justify-content:center;
        width: 100%;
        padding: 40px 20px 20px 20px;
    }

    .Footer .blocks .block {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 200px;
        height: 180px;
        text-align: left;
    }

    @media (max-width: 900px) {
        .Footer .blocks {
            justify-content:space-around;
        }
    
        .Footer .blocks .block {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            width: 200px;
            height: 180px;
            text-align: left;
        }

        @media (max-width: 750px) {
            .Footer .copy {
                display: flex;
                align-items: center;
                justify-content:center;
                flex-direction: column;
                width: 100%;
                border: none;
                border-top: 1px solid var(--White);
                padding: 10px 0px;
            }
            .Footer .copy h5 {
                margin: 10px 0px;
                text-align: center;
            }
        }
    }
    }


